.wrapper {
    
    max-width: 1300;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
}

.login-card{
    background-color: rgba(245, 245, 245, 0.411);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px; 
}

.login-card img {
    display: block;
    margin: 0 auto 20px auto;
}

.login-card h2 {
    margin-bottom: 25px;
    color: #020000;
    text-align: center;
}
.login-card p {
    margin-bottom: 20px;
    color: #7c0e97;
    text-align: center;
}

.login-card input {
    width: 90%;
    padding: 6px;
    margin-bottom: 15px;
    border: 1 px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-card button{
    width: 100%;
    padding: 12px;
    background-color: #7c0e97;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: #7c0e97de;
}

.login-card a{
    display: block;
    margin-top: 15 px;
    font-size: 14px;
    color: #007bff;
    margin-bottom: 12px;
}

.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    font-family: sans-serif;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin: 0 0 10px;
}

.card-text {
    color: #555;
    font-size: 1rem;
    margin-bottom: 15px;
}

.card-btn {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

header{
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px #7c0e97 ;
    position: fixed;
    background-color: white;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

}


.menu-container{

    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

}


.brand{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .name{
   
    font-size: 1.5rem;
    font-weight: 900;
    color:#020000;
}



.rigth{
    
}

.rigth a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: 0.2s ease;
}

.sidebar{
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    
}

.sidebar.menu-toggle{
    width: 18.75rem;
}

.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: #555;
}

.sidebar a:hover{
    background-color: #7c0e97;
    color: white;
}
