.wrapper {
    /*This is for a width max in big screens  */
    max-width: 1200;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

}