.wrapper {
    
    max-width: 1300;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
}

.login-card{
    background-color: rgba(245, 245, 245, 0.411);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
   
}

.login-card h2 {
    margin-bottom: 25px;
    color: #020000;
}
.login-card p {
    margin-bottom: 20px;
    color: #7c0e97;
}



.login-card input {
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
    border: 1 px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-card button{
    width: 100%;
    padding: 12px;
    background-color: #7c0e97;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background-color: #6312e69a;
}

.login-card a{
    display: block;
    margin-top: 15 px;
    font-size: 14px;
    color: #007bff;
    margin-bottom: 12px;
}

